<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/pets">PetDepot</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/pets"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/pets/new"
              >Add Pet</a
            >
          </li>
          <%if(!currentUser) {%>
            <li class="nav-link"><a href="/register">Register</a></li>
        <li class="nav-link"><a href="/login">Login</a></li>
        <%  }else{%>
          <li class="nav-link"><a href="/logout">Logout</a></li>
          <li class="nav-link"><a href="/pets/dashboard">Dashboard</a></li>

        <%} %>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Categories
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="/pets/category/cats">cats</a>
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" href="/pets/category/dogs">dogs</a>
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a
                  class="dropdown-item"
                  href="/pets/category/horses and ponies"
                  >horses and ponies</a
                >
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" href="/pets/category/reptiles"
                  >reptiles</a
                >
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" href="/pets/category/birds">birds</a>
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" href="/pets/category/amphibians"
                  >amphibians</a
                >
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" href="/pets/category/livestock"
                  >livestock</a
                >
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" href="/pets/category/small furries"
                  >small furries</a
                >
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" href="/pets/category/rabbits"
                  >rabbits</a
                >
              </li>
            </ul>
          </li>
      </div>
    </div>
    
  </nav>