
body{
    background-image: url("../images/t-r-photography-TzjMd7i5WQI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.welcome{
    font-size: 40px;
    color: white;
}

.description{
    font-size: 35px;
    color:white;
   
}

.btn{
    margin-left: 4px;
}

 nav a{
    text-decoration: none;
    color: black;
 }